.clients__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}
.clients__list-item:not(:last-child) {
  margin-right: 30px;
}

.clients__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--timing-fn);

  &:hover {
    border-color: var(--accent-color);
  }

  &:hover .clients__item-icon,
  &:focus .clients__item-icon {
    fill: var(--accent-color);
  }
}

.clients__item-icon {
  fill: #afb1b8;
  transition: var(--timing-fn);
}
