body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.current {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}
